html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --json-fmt-color: #666;

  --json-fmt-property-color: #bd6476;
  --json-fmt-number-color: #07a;
  --json-fmt-string-color: #690;
  --json-fmt-atom-color: #07a;
}
